*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}
.elementContainer{
    width: 100vw;
    height: auto;
}



/* First Screen Home Page area  */
#home{
    width: 100vw;
    height: 100%;
    background-image: url('../Images/Background/Home.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.517);
    position: fixed;
    z-index: 11111111;
}
nav .logo{
    width: 20%;
    height: 100%;
}
nav .logo img{
    width: 80%;
    height: 90%;
}
nav .buttons{
    width: 45%;
    margin-right: 25px;
    padding: 0px 30px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    padding: 15px 0px;
}
nav ul li a{
    font-size: 23px;
    color: rgb(202, 196, 196);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
nav ul li.active{
    color: rgb(153, 127, 24);
    border-top: 5px solid rgb(153, 127, 24);

}
nav ul li a:hover, nav ul li a.active{
    color: rgb(153, 127, 24);
}
.mainContent{
    display: flex;
    justify-content: space-between;
    padding: 30px 35px;
}
.mainContent .headings{
    width: 50%;
    padding: 125px 0px;
    font-family: 'Poppins', sans-serif;
}
.mainContent .headings h1{
    color: rgb(244, 235, 235);
    padding-bottom: 60px;
    font-size: 40px;
    font-weight: 600;
    line-height: 2.1ch;
}
.mainContent .headings span{
    color: rgb(153, 127, 24);

}
.mainContent .headings p{
    color: rgba(224, 217, 217, 0.911);
    padding-bottom: 65px;
    font-size: 27px;
    font-weight: 500;
    line-height: 2ch;
}

.mainContent .headings .contactBtn{
    padding: 25px 0px;
    margin: 25px auto;
}

.mainContent .headings .contactBtn a, #projectLaunch .projectLaunchBottomSection .talkButton a{
    padding: 15px 40px;
    background: #728E61;
    color: black;
    font-weight: 800;
    font-size: 28px;
    border-radius: 8px;
    text-align: center;
    margin-left: 50px;
}
.mainContent .homeImage{
    width: 65%;
    height: auto;
}
.mainContent .homeImage img{
    width: 100%;
    margin: 65px 0px;
}




/* Second Section Launch Project  */
#projectLaunch{
    border-top: 1px solid white;
    width: 100vw;
    height: 100%;
    background-image: url('../Images/Background/Excited.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.launchHeading{
    padding: 65px 50px;
    padding-bottom: 0px;
}
.launchHeading h1{
    color: #E7B553;
    font-size: 65px;

}
.launchHeading p{
    font-size: 40px;
    padding-top: 65px;
    color: whitesmoke;
}
#projectLaunch .projectLaunchBottomSection{
    display: flex;
    justify-content: space-between;

}
#projectLaunch .projectLaunchBottomSection .talkButton{
    width: 30%;
    align-items: center;
    padding: 215px 25px;
}
#projectLaunch .projectLaunchBottomSection .talkButton a{
    align-items: center;
    background-color:#E7B553;
    margin-top: 250px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    margin-left: 125px;
}
#projectLaunch .projectLaunchBottomSection .projectImage{
    width: 37%;
    margin-right: 150px;
}
#projectLaunch .projectLaunchBottomSection .projectImage img{
    width: 100%;
    opacity: 0.8;
}




/* Our all services Section  */
#services{
    border-top: 1px solid white;
    width: 100%;
    height: 100%;
    background-image: url('../Images/Background/homeService.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-transform: capitalize;
}
.serviceHeading{
    text-align: center;
    padding: 50px 25px;
    font-size: 35px ;
    color: #E7B553;
    
}
.serviceContainer{
    width: 85vw;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 35px;
    
}
.serviceContainer .features{
    width: 45%;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.serviceContainer .active{
    border-radius: 10px;
    background: linear-gradient(-135deg, rgb(40, 71, 51) 50%,  rgba(147, 147, 147, 0.499) 100%);
}
.serviceContainer .features h2{
    color: #E7B553;
    font-size: 30px;
}
.serviceContainer .features p{
    color: whitesmoke;
    font-size: 28px;
}



/* Reviews  */
#review{
    border-top: 1px solid white;
    width: 100%;
    height: 1200px;
    background-image: url('../Images/Background/Review.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




/* Query Section  */

#query{
    border-top: 1px solid white;
    width: 100%;
    height: 100%;
    background-image: url('../Images/Background/Query.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: white;
}
#query .queryHeading{
 padding: 35px 0px;
 margin: 35px 0px;
 text-align: center;
}
#query .queryHeading h1{
    color: #fff;
    font-size: 60px;
}
#query .queryHeading h1 span{
    color: #E7B553;
}

form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
}
.elements{
    margin: 10px 0px;
    width: 100%;
    font-size: 23px;
    padding: 10px;
    text-align: left;
}
.doubleElements{
    display: flex;
    justify-content: space-between;
}
.firstElement,.secondElement{
    width: 48%;
}
.elements input{
    font-size: 23px;
    color: white;
}
.elements select{
    border: none;
    outline: none;
    width: 90%;
    background-color: transparent;
    border-bottom: 4px solid white;
    font-size: 20px;
    cursor: pointer;
}

.elements select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
.elements input[type="text"], .elements input[type="email"], .doubleElements input[type="number"] {
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    outline: none;
}
.doubleElements input[type="text"]{
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    outline: none;
}
.text input[type="text"]{
    width: 100%;
}
form button{
    border: 4px solid #fff;
    padding: 15px 45px;
    margin: 50px 0px;
    font-size: 23px;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgb(193, 188, 188);
    color: rgb(19, 76, 57);
    cursor: pointer;
}




/* Query Lower Section  */
.contactSection{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    z-index: 0;
}

.leftContactArea{
    width: 50%;
}
.leftContactArea .logo{
    width: 100%;
}
.leftContactArea .logo img{
    width: 42%;
    height: auto;
}
.leftContactArea .centerText{
    width: 65%;
    margin: 0px auto;
    padding: 15px 0px;
    font-size: 20px;
    font-weight: 600;
}
.policyTerms{
    width: 80%;
    display: flex;
    justify-content: right;
    margin: 70px 0px;
}


.companyProfile a, .terms a{
    display: block;
    color: #E7B553;
    font-weight: 600;
    font-size: 20px;
    padding: 2px 0px;
}
.companyProfile a{
    padding-right:180px;
}

.rightContactArea{
    width: 50%;
}
.rightContactArea .time, .rightContactArea .phone, .rightContactArea .mail, .rightContactArea .socialLinks{
    display: flex;
    width: 100%;
    height: 125px;
    justify-content: right;
    color: black;
    font-size: 23px;
    font-weight: 900;
    align-items: center;
    padding-right: 150px;
}
 .rightContactArea .boxAreas, .rightContactArea .socialLinks a img{
    padding-right: 50px;
}
.rightContactArea .logo img{
    width: 80px;
    padding: 15px;
}
.rightContactArea .time{
    background: #E9BB60;
    clip-path: polygon(
        0% 20px,
        20px 0%,                 
        calc(100% - 00px) 0%,    
        100% 0px,               
        100% calc(100% - 0px),  
        calc(100% - 0px) 100%,  
        0px 100%,               
        0 calc(100% - 0px)
    );
}

.rightContactArea .phone{
    background: #2A3E31F0;

}
.rightContactArea .phone .boxAreas p{
    padding-right: 80px;
}
.rightContactArea .mail{
    background: #2A3E31;
}
.rightContactArea .mail a{
    color: black;
}

.rightContactArea .socialLinks{
    background: #88A275;
    /* border: 1px solid white; */
    padding: 20px 0px;
    display: flex;
}
.rightContactArea .socialLinks .links {
    padding-right: 250px;
    
}



/* Footer Area  */
footer{
    bottom: 0%;
    width: 100vw;
    text-align: center;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    padding: 10px 0px;
}
